.wrapper {
    grid-template-columns: 33% 67%;
    grid-template-areas: 'aside header'
    'aside main'
    'footer footer';
    max-width: 1200px;
    min-width: 320px;
    margin: 0 auto;
    background-color: #e8c8c8;
  }

.text-code{
    text-align: left;
    background-color: gray;
    padding: inherit;
}

.name{
    padding-left: 10px;
}